.holy {
  min-height: 100vh;
}
.holy header {
  height: 7vh;
  background-color: black;
}
.holy .main {
  min-height: 87vh;
  background-color: pink;
  display: flex;
  align-items: stretch;
}
.holy .main .nothing {
  width: 2vw;
}
.holy .main .author {
  width: 28vw;
  background-color: blanchedalmond;
}
.holy .main .author .avatar {
  width: 5vw;
  height: 10vh;
  overflow: hidden;
  border-radius: 50%;
}
.holy .main .author .name {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.holy .main .author .name::before {
  font-size: 16px;
  color: brown;
  content: "我喜欢你们叫我:";
}
.holy .main .author .name::after {
  font-size: 16px;
  color: brown;
  content: "<(＃￣▽￣＃)>";
}
.holy .main .author .intro {
  color: skyblue;
  font-size: 17px;
  font-weight: bold;
  line-height: 4em;
}
.holy .main .content {
  width: 72vw;
  background-color: aquamarine;
}
.holy .main .content .article {
  height: 24vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.holy footer {
  height: 6vh;
  background-color: #FFE4E1;
}
.holy footer .info,
.holy footer .record {
  text-align: center;
  margin-top: 3px;
}
.holy .go-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2%;
  bottom: 5%;
}
