.holy {
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;

    header {
        height: 7vh;
        background-color: black;
    }

    .main {
        min-height: 87vh;
        background-color: pink;
        display: flex;
        // flex-grow: 2;
        align-items: stretch;

        .nothing {
            width: 2vw;
        }

        .author {
            width: 28vw;
            background-color: blanchedalmond;

            .avatar {
                width: 5vw;
                height: 10vh;
                overflow: hidden;
                border-radius: 50%;
            }

            .name {
                color: red;
                font-weight: bold;
                font-size: 20px;

                &::before {
                    font-size: 16px;
                    color: brown;
                    content: "我喜欢你们叫我:";
                }

                &::after {
                    font-size: 16px;
                    color: brown;
                    content: "<(＃￣▽￣＃)>";
                }
            }

            .intro {
                color: skyblue;
                font-size: 17px;
                font-weight: bold;
                line-height: 4em;
            }
        }

        .content {
            width: 72vw;
            background-color: aquamarine;

            .article {
                height: 24vh;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }
        }
    }

    footer {
        height: 6vh;
        background-color: #FFE4E1;

        .info,
        .record {
            text-align: center;
            margin-top: 3px;
        }
    }

    .go-to-top {
        position: fixed;
        width: 50px;
        height: 50px;
        right: 2%;
        bottom: 5%;
    }
}